.loaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 60vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--bg-secondary);
    border-radius: 20px;
}

.infoSectionHeader {
    color: var(--beaver-orange);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.infoSectionBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--beaver-orange);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.infoSectionBtn:hover {
    background-color: lightgrey;
}

@media screen and (max-width: 480px) {
    .children {
        padding-top: 20px;
    }

    .infoSection {
        width: 90vw;
        height: 300px;
    }
}