.summaryCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.summaryCard {
    background: var(--bg-secondary);
    border-radius: 10px;
    width: 30vw;
    padding: 10px;
    min-width: 300px;
    /* Default height for summary cards */
    height: auto;
}

.bookmarkCard {
    height: 300px; 
    overflow-y: auto;
}

.summaryCardItem {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: var(--text-primary);
}

.summaryCardItem:hover { 
    background: lightgrey;
    border-radius: 5px;
}

.cardText {
    font-weight: regular;
}

.cardTitle {
    padding: 10px;
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--beaver-orange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 480px) {
    .summaryCard {
        width: 100%;
    }
}
